#product-list {
    width: 100vw;
    height: 100vh;
}

#product-list main {
    margin: 3.2rem auto;
    width: 90%;
}

@media(min-width:700px) {
    #product-list {
        max-width: 100%;
    }
    #product-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}